@import "variables";
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {

}


a {
  text-decoration: none;
  color: unset;
}


.stroke {
  &-all {
    border: $stroke;
  }
  &-bottom {
    border-bottom: $stroke;
  }
  &-right {
    border-right: $stroke;
  }
  &-left {
    border-left: $stroke;
  }
  &-top {
    border-top: $stroke;
  }
}
